body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #000;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
  margin-bottom: 20px;
}

.logo {
  width: 50px;
}

.content {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shield {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.shield-icon {
  margin-bottom: 10px;
}

.shield-icon img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantén la proporción de la imagen */
}

.review-button {
  background-color: #000;
  color: #fff;
  width: 210px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.review-button:hover {
  background-color: #fff;
  color: #000;
}
